@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&family=Nunito:wght@400;500;600;700;800&family=RobotoSlab:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");

// COLORS
$gray-color1: rgb(80, 81, 79);
$gray-color2: rgb(124, 122, 116);
$black-color: #000;
$white-color: #fff;

// FONTS
$font-h1: 2.5rem;
$font-h2: 2rem;
$font-h3: 1.5rem;
$font-global: 1rem;

// FONT-FAMILY
$montserrat: "Montserrat";
$nunito: "Nunito";
$roboto-slab: "Roboto Slab";
$roboto-mono: "Roboto Mono";

// FONT-WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$extra-bold-black: 900;
